Welcome to ibooker's bbs
bbbbbbbbbbbbbbbbbbs
<a href="/register"><h1>注册</h1></a>
{% for data_item in data %}
<a href="/details/{{ data_item.number }}"><h3>{{ data_item.title }}</h3></a>
<a >{{ data_item.body}}</a>
{% endfor %}
<h2>发起新的议题</h2>
<form method="POST" action='/new_discuss'>
    {% csrf_token %}
    </br>title</br><input type="string" name="title"></br>
    </br>body</br><input type="string" name="body">
        <input type="submit" value="submit">
    </form>
    <form method="POST" action='/login'>
        {% csrf_token %}
        </br>user</br><input type="string" name="title"></br>
        </br>password</br><input type="string" name="body">
        <input type="submit" value="submit">
        </form>